{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": "warn",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "args": "after-used",
        "ignoreRestSiblings": true
      }
    ],
    "no-unused-expressions": [
      "warn",
      {
        "allowTernary": true
      }
    ],
    "no-console": "off",
    "no-confusing-arrow": "off",
    "no-else-return": "off",
    "no-return-assign": [
      "warn",
      "except-parens"
    ],
    "no-underscore-dangle": "off",
    "prefer-arrow-callback": [
      "error",
      {
        "allowNamedFunctions": true
      }
    ],
    "class-methods-use-this": "off",
    "no-restricted-syntax": "off",
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "import/no-extraneous-dependencies": "off",
    "arrow-body-style": "off",
    "no-nested-ternary": "off"
  },
  "overrides": [
    {
      "files": [
        "src/**/*.d.ts"
      ],
      "rules": {
        "@typescript-eslint/triple-slash-reference": "off"
      }
    }
  ]
}
